@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::beforehtml,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  background-color: var(--secondary);
}
